* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #000;
}

/* Asosiy fon rasmi */
.hero-section {
    width: 100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), 
                url('/css/imagess/bgraundrasm.png') no-repeat center center/cover;
    padding: 30px 50px;
    position: relative;
    
}
.lakatsya{
    padding-left: 110px;
    padding-top: 10px;
    position: absolute;
    top: 13px;
    display: block;
}
.tel{
    padding-left: 520px;
    position: absolute;
    top: 28px;
    width: 12px;
    height: 12px;
    display: block;
}
@media (max-width:1526px){
    .lakatsya{
        display: none;
    }
    .tel{
        display: none;
    }
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    letter-spacing: 1px;
}

.nav-left, .nav-right {
    display: flex;
    align-items: center;
    gap: 24px;
}
.phone{
    justify-content: center;
    padding-right: 580px;
}
.logo { font-weight: bold; font-size: 18px; }

.lang-switcher span {
    margin: 0 5px;
    cursor: pointer;
    opacity: 0.6;
}

.lang-switcher .active { opacity: 1; border-bottom: 1px solid #fff; }

.menu-icon span {
    display: block;
    width: 25px;
    height: 1px;
    background: #fff;
    margin: 5px 0;
}


.hero-container {
    margin-top: 100px;
    max-width: 1200px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 80px;
    line-height: 1;
    font-weight: 400;
    margin-bottom: 30px;
}

.description {
    max-width: 450px;
    line-height: 1.6;
    font-size: 14px;
    opacity: 0.8;
    font-weight: 300;
}

.breadcrumbs {
    margin-top: 30px;
    font-size: 11px;
    opacity: 0.5;
}


@media (max-width: 768px) {
    .hero-section {
        padding: 20px;
    }

    .nav-left .location, .nav-right .phone {
        display: none;
    }

    h1 {
        font-size: 45px;
        margin-top: 50px;
    }

    .description {
        font-size: 13px;
        width: 100%;
    }

    .hero-container {
        margin-top: 40px;
    }
}
.containerr{
    position: relative;
}
 
.hero-colum{
    justify-content: space-evenly;
}
.hedr-nav{
    display: flex;
    justify-content: center;
    margin: 80px 30px;
    gap: 80px;
    padding-top: 30px;
    align-items: center;

 
}
.hedr-nav h3{
    font-size: 40px;

}
.hedr-nav p{
    opacity: 0.7;
    padding-top: 40px;
    padding-left: 30px;

}
.blec{
    z-index: 1px;
}
.menu-container {
  display: flex; 
  gap: 20px;     
  
  padding: 20px;
  color: white;
  font-family: sans-serif;
}

.menu-item {
  display: flex;
  align-items: center;
  cursor: pointer;
}

/* Pastga qaragan chevron belgisini yasash */
.chevron::after {
  content: '';
  display: inline-block;
  margin-left: 8px;    
  width: 6px;          
  height: 6px;         
  border-right: 1px solid #888; 
  border-bottom: 1px solid #888; 
  transform: rotate(45deg);     
  margin-bottom: 3px;  
}

.menu-item:hover {
  color: #ccc;
}

.iconkas{
    position: absolute;
    width: 70px;
    height: 80px;
    padding-top: 2px;
    padding-bottom: 4px;
    border: 1px solid red;
    padding-left: 200px;
    left: 600px;
    top: 90px;
    /* background-color: aqua; */
}


.hedrprect{
    display: flex;
    
}


.prect1{

    padding-left: 90px;
    width: 700px;
    height: 700px;
      margin: 0 auto;
    opacity: 1;
}
.rasmm{
    position: absolute;
    top: 129px;
    z-index: 1px;
}
.prect2{
    width: 900px;
    height: 500px;
    line-height: 30px;
    padding-left: 200px;
    padding-top: 70px;

}
.prect3{
    width: 400px;
    padding-top: 480px;
    padding-right: 180px;
    display: flex;
    position: absolute;
    left: 900px;
    gap: 10px;
    align-items: center;
    opacity: 0.7;

}
.btn{
    background: #000;
    border: 1px solid white;
    color: #fff;
    font-family: "Manrope";
font-weight: 400px;
/* font-style: "Regular"; */
font-size: 15px;
width: 154px;
height: 44px;
top: 499px;
left: 259px;
position: absolute;
opacity: 1px;
border-radius: 10px;

/* line-height: 160%;
letter-spacing: 0%; */

}